<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="nuget" version="1">
<about>
    <name>Nuget plugin</name>
    <version>0.3.0</version>
    <target-go-version>14.1</target-go-version>
    <description>Plugin that polls a Nuget Feed Server</description>
    <vendor>
        <name>Sriram Narayan</name>
        <url>https://github.com/ThoughtWorksInc/go-nuget-poller-plugin/blob/master/README.md</url>
    </vendor>
</about>
</go-plugin>

